
<div class="border-top mt-3">
    <div class="mt-2">
         <small class="small-text text-muted"><%= time_ago_in_words(comment.created_at) %> 
         ago
         </small>
         <br/>

         <%= comment.body %>  

         <div class="d-flex"> 
              <%= button_to comment_comment_likes_path(comment.commentable, comment), method: :post, class: "btn" do %>
              <%= image_tag "clap.svg", alt: "Edit", width: 15, height: 15 %>
              <%= comment.likes.count %>
              <% end %>

              <%= link_to  @article, class: "btn"  do %>
              <%= image_tag "message.svg", alt: "Reply", width: 15, height: 15 %>
              <%= comment.comments.count %>
              <% end %>

              <%= link_to  comment_path(comment),class: "btn", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } do %>
                    <%= image_tag "delete.svg", alt: "Delete", width: 15, height: 15 %>
              <% end%>
         </div>

          <div class="form-container-nested-comment ">
              <%= form_for [comment, Comment.new] do |f| %>
              <%= f.text_area :body, placeholder: "Replying to...", class: "comment-body" %>
            
              <br/>

              <div class=" d-flex justify-content-end mt-2 fs-1">
                <%= f.submit "Respond", class: "btn btn-outline-success btn-sm" %>
              </div>

              <% end %>
          </div>

          <ul>
            <%= render comment.comments %>
          </ul>

    </div>
</div> 
