<% if user_signed_in? %> 

<div class="container px-5 py-3">
     <div class="d-flex bd-highlight mb-3">
         <div class="me-auto p-2 bd-highlight">
           <%= link_to  root_path, class: "btn"  do %>
           <%= image_tag "back.svg", alt: "Back", width: 25, height: 25 %>
           <% end %>
         </div>

          <div class="p-2 bd-highlight">
            <%= link_to edit_article_path(@article), class: "btn" do %>
            <%= image_tag "edit.svg", alt: "Edit", width: 25, height: 25 %>
            <% end %>
          </div>
    
          <div class="p-2 bd-highlight">
            <%= link_to  article_path(@article),class: "btn", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } do %>
                    <%= image_tag "delete.svg", alt: "Delete", width: 25, height: 25 %>
              <% end%>                
          </div>
     </div>

     <h1><%= @article.title %></h1>
     <p><%= @article.body %></p>

     <div class="d-flex  mb-3 border-top border-bottom">
           <div class="p-2 "> 
              <%= button_to article_likes_path(@article), method: :post, class: "btn" do %>
              <%= image_tag "clap.svg", alt: "Edit", width: 25, height: 25 %>
              <%= @article.likes.count %>
              <% end %>
           </div>

           <div class="p-2 ">
              <%= link_to  @article, class: "btn"  do %>
              <%= image_tag "message.svg", alt: "Reply", width: 25, height: 25 %>
              <%= @article.comments.count %>
              <% end %>
           </div> 
     </div>

    <div class="pt-3">
      <ul>
           <h6>Responses(<%= @article.comments.count %>)</h6>
              <div class="form-container-comment ">
                <%= form_for [@article, Comment.new] do |f| %>
                <%= f.text_area :body, placeholder: "What are your thoughts?", class: "comment-body" %><br/>
                <div class=" d-flex justify-content-end mt-2 fs-1">
                <%= f.submit "Respond", class: "btn btn-outline-success btn-sm" %>
                </div>
                <% end %>
              </div>
           <ul>
              <%= render @article.comments, article:@article%>
           </ul>
      </ul>
    </div>

</div>

<% else %>
    <%= button_to "Sign in", new_user_session_path %> 
<% end %>